.Table{
    margin-top: 30px;
    margin-left: 10px;
}

.Table img{
    width: 250px;
    height: 75px;
    margin-left: -10px;
}

.Table p{
    font-weight: bold;
    font-size: 25px;
    color: beige;
}

.Table h1{
    font-weight: bold;
    color:yellow;
}

.HoverDiv{
    padding: 15px;
    background: url('../../../assets/images/tablePremier.png') top right no-repeat, linear-gradient(to right,rgb(118, 52, 240),rgb(235, 46, 194));;
    background-size: 25% 100px, 100% 100%;
    background-blend-mode: exclusion;
}

.Table button{
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    width: 50px;
}

.Table button:hover {
    background-color: rgb(248, 55, 136);
    color: white;
}
